body
{
color: rgb(20, 19, 19);
text-align: left;
font-family: Helvetica;
font size: 16px;
margin: 0;
padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 5px solid rgb(30, 0, 79);
    margin: 0 auto;
}

#container h1
{
font-size: 30px;
}    

#container2
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(5, 5, 5);
    margin: 0 auto;
    background-color: bisque;
}
